.short-field {
    width: 100%;
}

.medium-field {
    width: 100%;
}

.form-horizontal .row {
    margin-bottom: 15px;
}

.form-horizontal .form-group .form-check {
    padding-left: 0;
}

.nav-tabs .nav-link.active {
    background-color: #007bff;
    color: white;
}

.is-invalid {
    border-color: #dc3545; /* Красная рамка */
}

.text-danger {
    margin-top: 5px;
    font-size: 0.875em; /* Меньший размер текста */
    color: #dc3545; /* Красный цвет */
}

.form-check-input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.form-check-label {
    font-weight: 500;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 200px;
}

.image-fit {
    max-height: 200px;
    width: auto;
    display: block;
    margin: 0 auto;
}

.col-md-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.mt-2 {
    margin-top: 10px;
}