<div id="forgotPasswordModal" class="modal" aria-hidden="true" aria-labelledby="forgotPasswordModalTitle">
    <div class="modal-content">
        <span class="close" aria-label="Закрыть">&times;</span>
        <form id="passwordResetForm" method="POST" action="{% url 'account_reset_password' %}">
            {% csrf_token %}
            <h2 id="forgotPasswordModalTitle">Восстановление пароля</h2>
            <p>Введите e-mail, и мы вышлем вам данные для восстановления пароля.</p>
            <label for="resetEmail">Email</label>
            <input type="email" id="resetEmail" name="email" required>
            <button type="submit" class="forgot-password-modal-btn">Отправить ссылку для восстановления</button>
        </form>
    </div>
</div>
