{% extends "dashboard/base.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Войти</h3>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        
                        <!-- Вывод ошибок формы -->
                        {% if form.errors %}
                            <div class="alert alert-danger">
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <div class="error-message">{{ error }}</div>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <div class="error-message">{{ error }}</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        
                        <div class="form-group mb-3">
                            {{ form.login.label_tag }}
                            {{ form.login }}
                        </div>
                        <div class="form-group mb-3">
                            {{ form.password.label_tag }}
                            {{ form.password }}
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Войти</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}