{% extends "dashboard/base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% load custom_filters %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2>Вход</h2>
                </div>
                <div class="card-body">
                    <p class="text-secondary mb-4">Чтобы продолжить, пожалуйста, авторизуйтесь.</p>
                    <div class="alert alert-info text-center" role="alert">
                        Впервые на Reserve.cafe?<br> <a href="{% url 'account_signup' %}" class="alert-link">Создайте аккаунт</a>, чтобы начать пользоваться.
                    </div>
                    <form method="post" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            {{ form.login.label_tag }}
                            {{ form.login|add_class:"form-control" }}
                        </div>
                        <div class="form-group mb-3">
                            {{ form.password.label_tag }}
                            {{ form.password|add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg w-100">Войти</button>
                        </div>
                    </form>
                </div>
                <!-- Ссылки под кнопкой входа -->
                <div class="card-footer d-flex justify-content-between">
                    <a href="{% url 'account_reset_password' %}" class="text-muted">Сбросить пароль</a>
                    <a href="{% url 'account_signup' %}" class="text-muted">Создать аккаунт</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}