{% extends "base.html" %}
{% load static %}

{% block navbar %}
    {% include 'components/navbar.html' %}
{% endblock %}
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container pb-5 pt-5">
        <h2>Сброс пароля</h2>
        <p>На ваш электронный адрес было отправлено письмо с инструкциями по сбросу пароля.</p>
        <p>Вы будете перенаправлены на главную страницу через несколько секунд.</p>
    </div>

    <script type="text/javascript">
        // Перенаправление на главную страницу через короткую задержку
        setTimeout(function() {
            window.location.href = "/";
        }, 3000); // Задержка 3 секунды
    </script>
{% endblock %}
