services:
  django:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        INSTALL_DEV: "false"
    restart: unless-stopped
    env_file: docker/env/.env.prod
    volumes:
      - static:/app/staticfiles
      - media:/app/media
    command: >
      sh -c "
      set -e &&
      poetry run python manage.py migrate --no-input &&
      poetry run python manage.py collectstatic --no-input --clear &&
      poetry run gunicorn tablereserve.wsgi:application
        --bind 0.0.0.0:8000
        --workers 4
        --worker-class sync
        --max-requests 1000
        --max-requests-jitter 100
      "
    depends_on:
      - postgres
      - redis

  nginx:
    image: nginx:stable-alpine
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./docker/nginx/prod/django.conf:/etc/nginx/conf.d/default.conf:ro
      - static:/staticfiles:ro
      - media:/media:ro
      - ./docker/certbot/conf:/etc/letsencrypt:ro
      - ./docker/certbot/www:/var/www/certbot:ro
    depends_on:
      - django

  postgres:
    image: postgres:16-alpine
    restart: unless-stopped
    env_file: docker/env/.env.prod
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    restart: unless-stopped

  celery-worker:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    command: poetry run celery -A tablereserve worker --loglevel=info
    env_file: docker/env/.env.prod
    volumes:
      - media:/app/media
    depends_on:
      - redis
      - postgres

  celery-beat:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    command: poetry run celery -A tablereserve beat --loglevel=info --scheduler django_celery_beat.schedulers:DatabaseScheduler
    env_file: docker/env/.env.prod
    depends_on:
      - redis
      - postgres

volumes:
  pgdata:
  static:
  media:
