.star-rating {
    display: inline-block;
    font-size: 0;
    position: relative;
}

.star-rating label {
    color: #ccc;
    font-size: 2rem;
    padding: 0;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
}

.star-rating .checked {
    color: #f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #fc0;
}