{% load static %}
<nav class="navbar navbar-expand navbar-light navbar-bg">
    <a class="sidebar-toggle js-sidebar-toggle">
        <i class="hamburger align-self-center"></i>
    </a>

    <div class="navbar-collapse collapse">
        <ul class="navbar-nav navbar-align">
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{ user.profile.get_avatar_url }}" class="avatar img-fluid custom-avatar me-1" alt="{{ user.profile.name }}">
                    {{ user.profile }}
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Настройки</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'users:account_logout' %}">Выйти</a></li>
                </ul>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
<script>
    // Функция для закрытия всех открытых выпадающих меню
    function closeDropdowns() {
        document.querySelectorAll('.dropdown-menu.show').forEach(menu => {
            menu.classList.remove('show'); // убираем класс 'show', чтобы скрыть меню
        });
    }

    // Добавляем обработчик события для каждой кнопки с классом '.dropdown-toggle'
    document.querySelectorAll('.dropdown-toggle').forEach(item => {
        item.addEventListener('click', event => {
            const dropdownMenu = item.nextElementSibling; // предполагаем, что меню находится сразу после
            if (dropdownMenu) {
                dropdownMenu.classList.toggle('show'); // показываем или скрываем меню
            }
        });
    });

    // Обработчик для закрытия меню по нажатию клавиши 'Esc'
    document.addEventListener('keydown', event => {
        if (event.key === 'Escape') {
            closeDropdowns();
        }
    });

    // Обработчик для закрытия меню по клику в любом месте
    document.addEventListener('click', event => {
        // Если клик был не по элементу dropdown или его потомкам
        if (!event.target.closest('.dropdown')) {
            closeDropdowns();
        }
    });
</script>