{% load i18n %}
<!DOCTYPE html>
<html lang="ru">

<head>
    {% load static %}
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <!-- Lightbox CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Custom CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    {% block extra_head %}{% endblock %}
</head>

<body>
    {% block navbar %}
    {% endblock %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
    {%block footer %}
    {% endblock %}

    <script src="{% static 'js/script.js' %}"></script>
    <!-- Bootstrap JS and dependencies -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const cityDropdownToggle = document.getElementById('cityDropdownToggle');
            const cityDropdownMenu = document.getElementById('cityDropdownMenu');
            const userDropdownToggle = document.getElementById('userDropdownToggle');
            const userDropdownMenu = document.getElementById('userDropdownMenu');
            const loginButton = document.getElementById('loginButton');
            const loginPopover = document.getElementById('loginPopover');
            
            const loginModal = document.getElementById('loginModal');
            const registerModal = document.getElementById('registerModal');
            const modalCloseButtons = document.querySelectorAll('.modal .close');
            const loginPopoverBtn = document.querySelector('.login-popover-btn');
            const emailInput = document.getElementById('email');
            const regNameInput = document.getElementById('regName');
            const registerButton = document.getElementById('registerButton');
        
            // Обработчик для раскрывающегося меню города
            if (cityDropdownToggle && cityDropdownMenu) {
                cityDropdownToggle.addEventListener('click', function(event) {
                    event.preventDefault();
                    cityDropdownMenu.classList.toggle('show');
                });
            }
        
            // Обработчик для раскрывающегося меню пользователя
            if (userDropdownToggle && userDropdownMenu) {
                userDropdownToggle.addEventListener('click', function(event) {
                    event.preventDefault();
                    userDropdownMenu.classList.toggle('show');
                });
            }
        
            // Обработчик для кнопки входа и popover
            if (loginButton && loginPopover) {
                loginButton.addEventListener('click', function(event) {
                    event.stopPropagation();  // Останавливаем всплытие события
                    loginPopover.style.display = loginPopover.style.display === 'block' ? 'none' : 'block';
                });
        
                // Закрытие popover при клике вне его области
                document.addEventListener('click', function(event) {
                    if (!loginPopover.contains(event.target) && !loginButton.contains(event.target)) {
                        loginPopover.style.display = 'none';
                    }
                });
            }
        
            // Закрытие других выпадающих меню при клике вне их области
            document.addEventListener('click', function(event) {
                if (cityDropdownMenu && cityDropdownMenu.classList.contains('show') &&
                    !cityDropdownToggle.contains(event.target) && !cityDropdownMenu.contains(event.target)) {
                    cityDropdownMenu.classList.remove('show');
                }
        
                if (userDropdownMenu && userDropdownMenu.classList.contains('show') &&
                    !userDropdownToggle.contains(event.target) && !userDropdownMenu.contains(event.target)) {
                    userDropdownMenu.classList.remove('show');
                }
            });
        
            // Обработчик для кнопки в popover, чтобы открыть модальное окно входа
            if (loginPopoverBtn) {
                loginPopoverBtn.addEventListener('click', function(event) {
                    event.preventDefault();
                    loginPopover.style.display = 'none';
                    loginModal.style.display = 'block';
                    if (emailInput) {
                        emailInput.focus();
                    }
                });
            }
        
            // Обработчик для кнопки "Зарегистрироваться" в окне входа
            if (registerButton) {
                registerButton.addEventListener('click', function(event) {
                    event.preventDefault();
                    loginModal.style.display = 'none';
                    registerModal.style.display = 'block';
                    if (regNameInput) {
                        regNameInput.focus();
                    }
                });
            }
        
            // Обработчики для закрытия модальных окон
            modalCloseButtons.forEach(button => {
                button.addEventListener('click', function() {
                    loginModal.style.display = 'none';
                    registerModal.style.display = 'none';
                });
            });
        
            // Закрытие модальных окон при клике вне их
            window.addEventListener('click', function(event) {
                if (event.target === loginModal) {
                    loginModal.style.display = 'none';
                }
                if (event.target === registerModal) {
                    registerModal.style.display = 'none';
                }
            });
        
            // Закрытие модальных окон по нажатию клавиши Esc
            document.addEventListener('keydown', function(event) {
                if (event.key === 'Escape') {
                    loginModal.style.display = 'none';
                    registerModal.style.display = 'none';
                }
            });
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var hamburger = document.querySelector('.hamburger');
            var nav = document.querySelector('nav');
    
            hamburger.addEventListener('click', function() {
                hamburger.classList.toggle('active');
                nav.classList.toggle('active');
                hamburger.setAttribute('aria-expanded', nav.classList.contains('active'));
            });
    
            document.addEventListener('click', function(event) {
                if (!nav.contains(event.target) && !hamburger.contains(event.target)) {
                    nav.classList.remove('active');
                    hamburger.classList.remove('active');
                    hamburger.setAttribute('aria-expanded', false);
                }
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!-- Lightbox JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    {% block extra_js %} {% endblock %}
</body>

</html>