<div class="hidden h-full desktop:block">
    <div class="h-full">
        <div
            class="grid size-full gap-1 overflow-hidden rounded-32 grid-cols-[1fr_166px_166px]"
            data-test="grid_photos_desktop"
        >
            <div
                role="button"
                class="relative row-span-2 animate-shine overflow-hidden rounded skeleton"
            >
                <div class="absolute inset-0 size-full">
                    <img
                        alt="Нью лэвэл групп на улице 1-й Красногвардейский проезд  22 стр. 1"
                        title="Нью лэвэл групп на улице 1-й Красногвардейский проезд  22 стр. 1"
                        data-test="photo_big"
                        fetchpriority="high"
                        decoding="async"
                        data-nimg="fill"
                        src="https://a.travelcdn.mts.ru/property-photos/1633728227/2347900126/4ebee0dc2bd299d2e97e4c76f1fdd9c01fe4eb05.jpeg?width=1024&amp;fit=bounds&amp;quality=75"
                        style="
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            inset: 0px;
                            object-fit: cover;
                            color: transparent;
                        "
                    />
                </div>
            </div>
            <div
                role="button"
                class="relative animate-shine overflow-hidden rounded skeleton"
            >
                <div class="absolute inset-0 size-full">
                    <img
                        alt="Нью лэвэл групп на улице 1-й Красногвардейский проезд  22 стр. 1"
                        title="Нью лэвэл групп на улице 1-й Красногвардейский проезд  22 стр. 1"
                        data-test="photo_small"
                        fetchpriority="high"
                        decoding="async"
                        data-nimg="fill"
                        src="https://a.travelcdn.mts.ru/property-photos/1633728227/2347900126/1520bd815f1ac4319fcb49f637949c3056f9b8a0.jpeg?width=640&amp;fit=bounds&amp;quality=75"
                        style="
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            inset: 0px;
                            object-fit: cover;
                            color: transparent;
                        "
                    />
                </div>
            </div>
            <div
                role="button"
                class="relative animate-shine overflow-hidden rounded skeleton"
            >
                <div class="absolute inset-0 size-full">
                    <img
                        alt="Нью лэвэл групп на улице 1-й Красногвардейский проезд  22 стр. 1"
                        title="Нью лэвэл групп на улице 1-й Красногвардейский проезд  22 стр. 1"
                        data-test="photo_small"
                        fetchpriority="high"
                        decoding="async"
                        data-nimg="fill"
                        src="https://a.travelcdn.mts.ru/property-photos/1633728227/2347900126/39614e34b55985a73adf54faa694c2dbbce5f013.jpeg?width=640&amp;fit=bounds&amp;quality=75"
                        style="
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            inset: 0px;
                            object-fit: cover;
                            color: transparent;
                        "
                    />
                </div>
            </div>
            <div role="button" class="relative overflow-hidden rounded">
                <div class="absolute inset-0 size-full">
                    <img
                        alt="Нью лэвэл групп на улице 1-й Красногвардейский проезд  22 стр. 1"
                        title="Нью лэвэл групп на улице 1-й Красногвардейский проезд  22 стр. 1"
                        data-test="photo_small"
                        fetchpriority="high"
                        decoding="async"
                        data-nimg="fill"
                        src="https://a.travelcdn.mts.ru/property-photos/1633728227/2347900126/9286fba199907bd97e45eef5cae5e5bcdf22fd87.jpeg"
                        style="
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            inset: 0px;
                            object-fit: cover;
                            color: transparent;
                        "
                    />
                </div>
            </div>
            <div role="button" class="relative overflow-hidden rounded">
                <div class="absolute inset-0 size-full">
                    <img
                        alt="Нью лэвэл групп на улице 1-й Красногвардейский проезд  22 стр. 1"
                        title="Нью лэвэл групп на улице 1-й Красногвардейский проезд  22 стр. 1"
                        data-test="photo_small_with_count"
                        fetchpriority="high"
                        decoding="async"
                        data-nimg="fill"
                        src="https://a.travelcdn.mts.ru/property-photos/1633728227/2347900126/14e7ea3a9cf5fdf3f4988ff7261103f3f605a40d.jpeg"
                        style="
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            inset: 0px;
                            object-fit: cover;
                            color: transparent;
                        "
                    />
                    <p
                        class="absolute z-10 flex size-full flex-col items-center justify-center bg-overlay text-center text-white flex"
                        data-test="more_photo"
                    >
                        <span class="font-mtswide-medium text-2xl font-bold"
                            >29</span
                        ><span class="p3-bold">фото</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
