{% extends "base.html" %}
{% load static %}
{% load floattags %}

{% block navbar %}
    {% include 'components/navbar.html' %}
{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container">
    <!-- Популярные заведения -->
    <div class="row">
        <div class="col-12">
            <h2 class="text-center my-4">Популярные заведения</h2>
            <div class="row">
                {% for place in popular_places %}
                    <div class="product-layout col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="product-item-container item d-flex flex-column">
                            <div class="item-block so-quickview flex-grow-1 d-flex flex-column">
                                {% if place.features.exists %}
                                    <div class="feature">
                                        {% for feature in place.features.all %}
                                            <div class="feature-item">{{ feature.name }}</div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div class="favorite-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M20.84 4.27a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.4a5.5 5.5 0 0 0-7.78 0 6 6 0 0 0 0 8.49L12 21l8.84-7.84a6 6 0 0 0 0-8.49z"></path>
                                    </svg>
                                </div>
                                <div class="image">
                                    <a href="{% url 'place_detail' city_slug=selected_city.slug place_slug=place.slug %}" target="_self">
                                        {% if place.cover_image %}
                                            <img src="{{ place.cover_image.image.url }}" alt="{{ place.name }}" class="img-responsive img-hover-zoom">
                                        {% else %}
                                            <img src="{% static 'path_to_default_image.jpg' %}" alt="{{ place.name }}" class="img-responsive img-hover-zoom">
                                        {% endif %}
                                        <div class="name">
                                            <h3>{{ place.name }}</h3>
                                            <p>{{ place.type }}</p>
                                        </div>
                                        <div class="rating-box">
                                            <span class="rating-number">{{ place.rating|formatted_float }}</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="item-content d-flex flex-column justify-content-between flex-grow-1">
                                    <ul>
                                        <li>
                                            <i class="fa-solid fa-location-dot" data-toggle="tooltip" title="Адрес"></i> <!-- Иконка геопозиции -->
                                            {{ place.address }}
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-utensils" data-toggle="tooltip" title="Кухня"></i> <!-- Иконка кухни -->
                                            {% for cuisine in place.cuisines.all %}
                                                {{ cuisine.name }}{% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-coins" data-toggle="tooltip" title="Средний чек"></i> <!-- Иконка среднего чека -->
                                            {{ place.average_check }} ₽
                                        </li>
                                    </ul>
                                    <div class="mt-auto">
                                        <button type="button" class="reserve-button" data-place-id="{{ place.slug }}" data-place-name="{{ place.name }}">Забронировать столик</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="text-center mt-4">
                <a href="{% url 'place_list' city_slug=selected_city.slug %}" class="btn btn-primary">Показать все</a>
            </div>
        </div>
    </div>

    <!-- События -->
    <div class="row">
        <div class="col-12">
            <h2 class="text-center my-4">События</h2>
            <div class="row">
                {% for event in upcoming_events %}
                    <div class="product-layout col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="product-item-container item d-flex flex-column">
                            <div class="item-block so-quickview flex-grow-1 d-flex flex-column">
                                <div class="image">
                                    {% if event.image %}
                                        <img src="{{ event.image.url }}" alt="{{ event.name }}" class="img-responsive img-hover-zoom">
                                    {% else %}
                                        <img src="{% static 'path_to_default_image.jpg' %}" alt="{{ event.name }}" class="img-responsive img-hover-zoom">
                                    {% endif %}
                                    <div class="name">
                                        <h3>{{ event.name }}</h3>
                                    </div>
                                </div>
                                <div class="item-content d-flex flex-column justify-content-between flex-grow-1">
                                    <ul>
                                        <li>
                                            <i class="fa-solid fa-calendar" data-toggle="tooltip" title="Дата"></i> <!-- Иконка календаря -->
                                            {{ event.date }} {{ event.start_time }} - {{ event.end_time }}
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-location-dot" data-toggle="tooltip" title="Место проведения"></i> <!-- Иконка геопозиции -->
                                            {{ event.place.name }}
                                        </li>
                                    </ul>
                                    <div class="mt-auto">
                                        <button type="button" class="reserve-button" data-place-id="{{ place.slug }}" data-place-name="{{ place.name }}">Забронировать столик</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Акции и скидки -->
    <div class="row">
        <div class="col-12">
            <h2 class="text-center my-4">Акции и скидки</h2>
            <div class="row">
                {% for discount in active_discounts %}
                    <div class="product-layout col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="product-item-container item d-flex flex-column">
                            <div class="item-block so-quickview flex-grow-1 d-flex flex-column">
                                <div class="image">
                                    {% if discount.image %}
                                        <img src="{{ discount.image.url }}" alt="{{ discount.title }}" class="img-responsive img-hover-zoom">
                                    {% else %}
                                        <img src="{% static 'path_to_default_image.jpg' %}" alt="{{ discount.title }}" class="img-responsive img-hover-zoom">
                                    {% endif %}
                                    <div class="name">
                                        <h3>{{ discount.title }}</h3>
                                    </div>
                                </div>
                                <div class="item-content d-flex flex-column justify-content-between flex-grow-1">
                                    <ul>
                                        <li>
                                            <i class="fa-solid fa-calendar" data-toggle="tooltip" title="Период проведения"></i> <!-- Иконка календаря -->
                                            {{ discount.start_date }} - {{ discount.end_date }}
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-location-dot" data-toggle="tooltip" title="Место проведения"></i> <!-- Иконка геопозиции -->
                                            {{ discount.place.name }}
                                        </li>
                                    </ul>
                                    <div class="mt-auto">
                                        <button type="button" class="reserve-button" data-place-id="{{ place.slug }}" data-place-name="{{ place.name }}">Забронировать столик</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Модальное окно -->
<div class="modal fade" id="reservationModal" tabindex="-1" aria-labelledby="reservationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="reservationModalLabel">Бронирование столика</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Форма бронирования -->
                <form id="reservationForm">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_date" class="form-label">Дата бронирования</label>
                        {{ form.date }}
                    </div>
                    <div class="form-group">
                        <label for="id_time" class="form-label">Время бронирования</label>
                        {{ form.time }}
                    </div>
                    <div class="form-group">
                        <label for="id_guests" class="form-label">Количество гостей</label>
                        {{ form.guests }}
                    </div>
                    <div class="form-group">
                        <label for="id_first_name" class="form-label">Имя</label>
                        {{ form.first_name }}
                    </div>
                    <div class="form-group">
                        <label for="id_last_name" class="form-label">Фамилия</label>
                        {{ form.last_name }}
                    </div>
                    <div class="form-group">
                        <label for="id_phone" class="form-label">Телефон</label>
                        {{ form.phone }}
                    </div>
                    <div class="form-group">
                        <label for="id_email" class="form-label">Email</label>
                        {{ form.email }}
                    </div>
                    <div class="form-group">
                        <label for="id_wishes" class="form-label">Пожелания</label>
                        {{ form.wishes }}
                    </div>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const reserveButtons = document.querySelectorAll('.reserve-button');
        const modal = new bootstrap.Modal(document.getElementById('reservationModal')); // Bootstrap modal instance
    
        reserveButtons.forEach(button => {
            button.addEventListener('click', function() {
                const placeSlug = this.getAttribute('data-place-id');
                const actionUrl = "{% url 'reserve_table' city_slug=selected_city.slug place_slug='PLACE_SLUG' %}".replace('PLACE_SLUG', placeSlug);
                document.getElementById('reservationForm').action = actionUrl;
                modal.show(); // Show modal
            });
        });

        const reservationForm = document.getElementById('reservationForm');
        reservationForm.addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(this);

            fetch(this.action, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => {
                if (response.ok) {
                    // Optionally, you can close the modal after successful submission
                    modal.hide();
                    // Display success message (you need to implement this in your template)
                    alert('Заявка на бронирование успешно отправлена!');
                    // You can also redirect to the same page or refresh here
                    // window.location.reload();
                } else {
                    throw new Error('Ошибка при отправке формы');
                }
            })
            .catch(error => {
                console.error('Ошибка:', error);
                // Handle error cases here
                alert('Произошла ошибка при отправке формы');
            });
        });
    });
</script>
{% endblock %}