{% extends "base.html" %}
{% load static %}
{% load floattags %}
{% load custom_filters %}

{% block navbar %}
    {% include 'components/navbar.html' %}
{% endblock %}
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<!-- Секция с изображением города -->
<section class="section">
    <div class="container pb-4 pt-5">
        <div class="city-hero">
            <picture>
                <source media="(min-width: 768px)" srcset="{% if selected_city.image %}{{ selected_city.image.url }} 1x, {{ selected_city.image.url }} 2x{% else %}{% static 'images/city_images/default.jpg' %} 1x, {% static 'images/city_images/default.jpg' %} 2x{% endif %}">
                <source srcset="{% if selected_city.image %}{{ selected_city.image.url }} 1x, {{ selected_city.image.url }} 2x{% else %}{% static 'city_images/default.jpg' %} 1x, {% static 'images/city_images/default.jpg' %} 2x{% endif %}">
                <img class="city-bg" src="{% if selected_city.image %}{{ selected_city.image.url }}{% else %}{% static 'images/city_images/default.jpg' %}{% endif %}" alt="{{ selected_city.name }}">
            </picture>
            <div class="city-overlay"></div>
            <div class="city-content">
                <h1 class="city-title">Лучшие заведения в {{ city_name_locative|capfirst }}</h1>
                <form class="city-search-form" action="{% url 'place_list' selected_city.slug %}" method="GET">
                    <input type="text" name="search" class="search-input" placeholder="Поиск ресторанов, кафе и баров" value="{{ search }}">
                    <button type="submit" class="search-button">Найти</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Секция с популярными местами -->
<section class="popular-restaurants">
    <div class="container">
        <h2>Популярные места</h2>
        <div class="places-cards">
            {% for place in popular_places %}
            <div class="place-card">
                <span class="favorite-button {% if place.id in favorite_places %}favorited{% endif %}" data-place-id="{{ place.id }}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                        <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </span>
                <a href="{% url 'place_detail' city_slug=selected_city.slug place_slug=place.slug %}" class="place-card-link">
                    <div class="place-card-image">
                        <div class="place-features">
                            {% for feature in place.features_on_card.all %}
                                <span class="feature">{{ feature.name }}</span>
                            {% endfor %}
                        </div>
                        <div class="place-details">
                            <div class="place-type">
                                {{ place.type.name }}
                            </div>
                            <div class="place-name">
                                {{ place.name }}
                            </div>
                        </div>
                        {% if place.rating > 0 %}
                        <div class="place-rating {{ place.rating|rating_color }} image-rating">
                            {{ place.rating|formatted_float }}
                        </div>
                        {% endif %}
                        <img src="{{ place.get_cover_image }}" alt="{{ place.name }}" class="place-image">
                    </div>
                </a>
                <div class="place-card-content">
                    <p class="place-address">
                        <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" class="bi bi-geo-alt">
                            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg>
                        {{ place.address }}
                    </p>
                    <p class="place-cuisines">
                        <svg width="16" height="16" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"><path d="M256 410.304V96a32 32 0 0 1 64 0v314.304a96 96 0 0 0 64-90.56V96a32 32 0 0 1 64 0v223.744a160 160 0 0 1-128 156.8V928a32 32 0 1 1-64 0V476.544a160 160 0 0 1-128-156.8V96a32 32 0 0 1 64 0v223.744a96 96 0 0 0 64 90.56zM672 572.48C581.184 552.128 512 446.848 512 320c0-141.44 85.952-256 192-256s192 114.56 192 256c0 126.848-69.184 232.128-160 252.48V928a32 32 0 1 1-64 0V572.48zM704 512c66.048 0 128-82.56 128-192s-61.952-192-128-192-128 82.56-128 192 61.952 192 128 192z"/></svg>
                        {% with cuisines_list=place.cuisines.all %}
                            {% if cuisines_list|length > 2 %}
                                {% for cuisine in cuisines_list|slice:":2" %}
                                    {{ cuisine.name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                                и ещё {{ cuisines_list|length|add:"-2" }}
                            {% else %}
                                {% for cuisine in cuisines_list %}
                                    {{ cuisine.name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </p>
                    <p class="place-average-check">
                        <svg width="16" height="16" viewBox="0 0 24 24" id="ruble-2" data-name="Flat Color" xmlns="http://www.w3.org/2000/svg" class="icon flat-color"><path id="primary" d="M14,12A5,5,0,0,0,14,2H9A1,1,0,0,0,8,3v7H6a1,1,0,0,0,0,2H8v2H6a1,1,0,0,0,0,2H8v5a1,1,0,0,0,2,0V16h5a1,1,0,0,0,0-2H10V12ZM10,4h4a3,3,0,0,1,0,6H10Z"></path></svg>
                        {{ place.average_check }}
                    </p>
                    <p class="place-short-description">{{ place.short_description|default_if_none:"" |truncatewords:15 }}</p>
                    <a href="{% url 'place_detail' city_slug=selected_city.slug place_slug=place.slug %}" class="btn">Заказать столик</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="show-more-container">
            <a href="{% url 'place_list' selected_city.slug %}" class="btn show-more">Показать все {{ total_places_count }}</a>
        </div>
    </div>
</section>

<!-- Афиша города -->
<div class="container">
    <div id="events-poster" class="events-poster-section">
        <div class="events-poster-inner">
            <div class="events-header">
                <h3>Афиша Архангельска</h3>
                <a href="#" class="view-all-link">Вся афиша</a>
            </div>
            
            <!-- Список событий -->
            <div class="events-list">
                {% for event in upcoming_events %}
                    <div class="event-item">
                        <img src="{{ event.image.url }}" alt="{{ event.name }}" class="event-image">
                        <div class="event-details">
                            <h4 class="event-name">{{ event.name }}</h4>
                            <p class="event-place">{{ event.place.name }}, {{ event.place.address }}</p>
                            <p class="event-date">{{ event.date }} | {{ event.start_time }} - {{ event.end_time }}</p>
                            <p class="event-description">{{ event.description|truncatechars:100 }}</p>
                        </div>
                    </div>
                {% empty %}
                    <p>Нет предстоящих событий.</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% comment %} <!-- Секция с акциями и предложениями -->
<section class="special-offers">
    <div class="container">
        <h2>Специальные предложения</h2>
        <div class="offer-cards">
            {% for discount in active_discounts %}
            <div class="offer-card">
                {% if discount.image %}
                <img
                    src="{{ discount.image.url }}"
                    alt="{{ discount.title }}"
                />
                {% endif %}
                <h3>{{ discount.title }}</h3>
                <p>{{ discount.description|truncatewords:15 }}</p>
                <button>Узнать больше</button>
            </div>
            {% endfor %}
        </div>
    </div>
</section> {% endcomment %}

{% comment %} <!-- Секция "Как это работает" -->
<section class="how-it-works">
    <div class="container">
        <h2>Как это работает</h2>
        <ol>
            <li>Найдите ресторан</li>
            <li>Выберите дату и время</li>
            <li>Забронируйте столик</li>
            <li>Наслаждайтесь визитом</li>
        </ol>
    </div>
</section> {% endcomment %}

<!-- Отзывы клиентов -->
<div class="container mb-3">
    <div id="city-reviews-section" class="city-reviews-section">
        <h3>Отзывы о заведениях</h3>
        <div class="city-reviews-list">
            {% for review in random_reviews %}
                <div class="city-review-item">
                    <img src="{{ review.place.get_cover_image }}" alt="Изображение {{ review.place.name }}" class="place-image">
                    <div class="city-review-content">
                        <div class="city-review-place">
                            <strong>{{ review.place.name }}</strong>
                            <p>{{ review.place.address }}</p>
                        </div>
                        <div class="city-review-body">
                            <div class="city-review-header">
                                <img src="{{ review.user.profile.get_avatar_url }}" alt="{{ review.user.username }}'s avatar" class="user-avatar">
                                <div class="city-review-author">{{ review.user.username }}</div>
                                <div class="city-review-rating">
                                    {% for i in "12345" %}
                                        {% if i|add:"0" <= review.rating %}
                                            ★
                                        {% else %}
                                            ☆
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <p class="city-review-text">{{ review.text|truncatechars:150 }}</p>
                            <p class="city-review-date">{{ review.created_at|date:"j E Y" }}</p>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>Отзывов пока нет.</p>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const favoriteButtons = document.querySelectorAll(".favorite-button");
        const isAuthenticated = {{ user.is_authenticated|yesno:"true,false" }};
        
        favoriteButtons.forEach((button) => {
            button.addEventListener("click", function (event) {
                if (!isAuthenticated) {
                    // If user is not authenticated, show the login modal
                    event.preventDefault();
                    document.getElementById('loginModal').style.display = 'block';
                    return;
                }

                const placeId = this.getAttribute("data-place-id");
                const url = "{% url 'users:toggle_favorite' 0 %}".replace("/0/", `/${placeId}/`);

                fetch(url, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": getCookie("csrftoken"),
                    },
                })
                .then((response) => response.json())
                .then((data) => {
                    if (data.status === "added") {
                        this.classList.add("favorited");
                    } else if (data.status === "removed") {
                        this.classList.remove("favorited");
                    }
                });
            });
        });

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== "") {
                const cookies = document.cookie.split(";");
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === name + "=") {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    });
</script>
{% endblock %}
