{% extends "base.html" %}
{% load static %}
{% load floattags %}
{% load custom_filters %}

{% block navbar %}
    {% include 'components/navbar.html' %}
{% endblock %}
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="container place-detail">
    <div class="place-header">
        <h1>{{ place.type }} {{ place.name }}</h1>
        <div class="place-info">
            <div class="left-info">
                <p class="place-address">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"
                        fill="currentColor" class="icon">
                        <path
                            d="M12 2C8.13 2 5 5.13 5 9c0 4.25 7 13 7 13s7-8.75 7-13c0-3.87-3.13-7-7-7zm0 10.5c-1.93 0-3.5-1.57-3.5-3.5S10.07 5.5 12 5.5 15.5 7.07 15.5 9 13.93 12.5 12 12.5z" />
                    </svg>
                    <a href="https://yandex.ru/maps/?text={{ place.address|urlencode }}" target="_blank" style="text-decoration: none; color: inherit;">{{ place.address }}</a>
                </p>
                <p class="place-phone">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"
                        fill="currentColor" class="icon">
                        <path
                            d="M6.62 10.79a15.53 15.53 0 006.59 6.59l2.2-2.2a1.5 1.5 0 011.7-.27c1.2.48 2.5.74 3.84.74a1.5 1.5 0 011.5 1.5v3.75a1.5 1.5 0 01-1.5 1.5A18 18 0 012 4.5a1.5 1.5 0 011.5-1.5H7.25a1.5 1.5 0 011.5 1.5c0 1.34.26 2.63.74 3.84a1.5 1.5 0 01-.27 1.7l-2.2 2.2z" />
                    </svg>
                    <a href="tel:{{ place.phone }}" target="_blank" style="text-decoration: none; color: inherit;">{{ place.phone }}</a>
                </p>
            </div>
            <div class="right-info">
                <div class="place-rating-and-reviews">
                    <div class="review-count">
                        {{ reviews.count }} {{ review_word }}
                    </div>
                    {% if place.rating > 1 %}
                    <div class="place-rating {{ place.rating|rating_color }} address-rating">
                        {{ place.rating|formatted_float }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="place-detail-container">
        <div class="place-detail-sub-title">
            <div class="place-sub-title font-semibold"></div>
        </div>
        <div id="gallery" class="place-detail-gallery">
            <div class="place-detail-gallery-wrapper">
                <!-- Кнопка добавления в избранное -->
                <button class="favorite-button {% if is_favorited %}favorited{% endif %}" data-place-id="{{ place.id }}" aria-label="Add to favorites">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                        <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
                    </svg>
                </button>
                <button class="gallery-prev-slide" aria-label="Previous slide">❮</button>
                <div class="place-slider">
                    <div class="place-slider-wrapper">
                        {% for media in place.images.all %}
                            {% if media.video_url or media.embed_code %}
                            <div class="place-slider-item" style="margin-right: 5px;">
                                {% if media.video_url %}
                                <iframe width="560" height="315" src="{{ media.video_url }}" frameborder="0" allowfullscreen></iframe>
                                {% elif media.embed_code %}
                                {{ media.embed_code|safe }}
                                {% endif %}
                            </div>
                            {% endif %}
                        {% endfor %}
                        {% for media in place.images.all %}
                            {% if media.image %}
                            <div class="place-slider-item" style="margin-right: 5px;">
                                <img data-src="{{ media.image.url }}" class="place-slider-img lazy" alt="Image of {{ place.name }}" />
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <button class="gallery-next-slide">❯</button>
            </div>
        </div>
        
        <!-- Модальное окно для полноэкранного изображения -->
        <div id="imageModal" class="gallery-modal">
            <span class="gallery-modal-close">&times;</span>
            <img class="gallery-modal-content" id="modalImage">
            <a class="gallery-modal-prev">❮</a>
            <a class="gallery-modal-next">❯</a>
        </div>

        <div class="place-detail-main">
            <div class="place-detail-main-container">
                <div class="place-detail-section">
                    <div class="place-detail-inner">
                        <div class="place-detail-item">
                            <div class="place-detail-item-label">
                                Кухня
                            </div>
                            <div class="place-detail-item-body">
                                <div class="place-detail-item-value">
                                    {% for cuisine in place.cuisines.all %}
                                    {{ cuisine.name }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="place-detail-item">
                            <div class="place-detail-item-label">
                                Средний чек
                            </div>
                            <div class="place-detail-item-body">
                                <div class="place-detail-item-value">
                                    {{ place.average_check }} руб.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <aside class="place-detail-aside">
                <div class="place-detail-booking">
                    <div class="booking-popup">
                        <form method="post" class="booking-popup-form"
                            action="{% url 'reserve_table' city_slug=selected_city.slug place_slug=place.slug %}">
                            {% csrf_token %}
                            <div class="booking-popup-wrapper">
                                <div class="booking-popup-wrapper-container">
                                    <h3>Заказ столика</h3>
                                    <div class="form-row">
                                        <div class="form-col">
                                            {{ reservation_form.date.label_tag }}
                                            {{ reservation_form.date }}
                                        </div>
                                        <div class="form-col">
                                            {{ reservation_form.time.label_tag }}
                                            {{ reservation_form.time }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-col">
                                            {{ reservation_form.customer_phone.label_tag }}
                                            {{ reservation_form.customer_phone }}
                                        </div>
                                        <div class="form-col">
                                            {{ reservation_form.guests.label_tag }}
                                            {{ reservation_form.guests }}
                                        </div>
                                    </div>
                                    {{ reservation_form.customer_name.label_tag }}
                                    {{ reservation_form.customer_name }}
                                    {{ reservation_form.customer_email.label_tag }}
                                    {{ reservation_form.customer_email }}
                                    {{ reservation_form.wishes.label_tag }}
                                    {{ reservation_form.wishes }}
                                    <button type="submit">
                                        Забронировать
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const galleryGrid = document.querySelector('.place-gallery-grid');
        const imageCount = galleryGrid.children.length;
        galleryGrid.setAttribute('data-count', imageCount);
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const dateInput = document.querySelector('#id_date');
        const timeSelect = document.querySelector('#id_time');

        // Set the default date to today in the format yyyy-mm-dd
        if (dateInput) {
            const today = new Date();
            const day = String(today.getDate()).padStart(2, '0');
            const month = String(today.getMonth() + 1).padStart(2, '0'); // Months are 0-based
            const year = today.getFullYear();
            const formattedDate = `${year}-${month}-${day}`;
            dateInput.value = formattedDate; // Set in yyyy-mm-dd format for input type date

            // Fetch available time slots for today
            fetchAvailableTimes(formattedDate);

            // Update available times when date changes
            dateInput.addEventListener('change', function () {
                const selectedDate = this.value;
                fetchAvailableTimes(selectedDate);
            });
        }

        function fetchAvailableTimes(date) {
            fetch(`{% url 'update_time_choices' place_id=place.id date='DATE_PLACEHOLDER' %}`.replace('DATE_PLACEHOLDER', date))
                .then(response => response.json())
                .then(data => {
                    timeSelect.innerHTML = '';
                    data.time_choices.forEach(time => {
                        const option = document.createElement('option');
                        option.value = time;
                        option.textContent = time;
                        timeSelect.appendChild(option);
                    });
                });
        }
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const favoriteButtons = document.querySelectorAll(".favorite-button");
        const isAuthenticated = {{ user.is_authenticated|yesno:"true,false" }};
        
        favoriteButtons.forEach((button) => {
            button.addEventListener("click", function (event) {
                if (!isAuthenticated) {
                    // If user is not authenticated, show the login modal
                    event.preventDefault();
                    document.getElementById('loginModal').style.display = 'block';
                    return;
                }

                const placeId = this.getAttribute("data-place-id");
                const url = "{% url 'users:toggle_favorite' 0 %}".replace("/0/", `/${placeId}/`);

                fetch(url, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": getCookie("csrftoken"),
                    },
                })
                .then((response) => response.json())
                .then((data) => {
                    if (data.status === "added") {
                        this.classList.add("favorited");
                    } else if (data.status === "removed") {
                        this.classList.remove("favorited");
                    }
                });
            });
        });

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== "") {
                const cookies = document.cookie.split(";");
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === name + "=") {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const sliderWrapper = document.querySelector('.place-slider-wrapper');
        const slides = document.querySelectorAll('.place-slider-item');
        const prevButton = document.querySelector('.gallery-prev-slide');
        const nextButton = document.querySelector('.gallery-next-slide');
        let currentIndex = 0;
    
        function updateButtons() {
            prevButton.classList.toggle('hidden', currentIndex === 0);
            nextButton.classList.toggle('hidden', currentIndex >= slides.length - 1);
        }
    
        function showSlide(index) {
            const slideWidth = slides[0].clientWidth + 5; // ширина слайда плюс расстояние
            const maxShift = sliderWrapper.scrollWidth - sliderWrapper.clientWidth;
            const newTransform = Math.min(index * slideWidth, maxShift);
            
            sliderWrapper.style.transform = `translateX(-${newTransform}px)`;
    
            currentIndex = index;
            updateButtons();
        }
    
        prevButton.addEventListener('click', function() {
            if (currentIndex > 0) {
                showSlide(currentIndex - 1);
            }
        });
    
        nextButton.addEventListener('click', function() {
            if (currentIndex < slides.length - 1) {
                showSlide(currentIndex + 1);
            }
        });
    
        showSlide(currentIndex);
    
        // Ленивая загрузка изображений
        const lazyImages = document.querySelectorAll('img.lazy');
    
        if ("IntersectionObserver" in window) {
            const lazyImageObserver = new IntersectionObserver((entries, observer) => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        const lazyImage = entry.target;
                        lazyImage.src = lazyImage.dataset.src;
                        lazyImage.classList.remove('lazy');
                        lazyImageObserver.unobserve(lazyImage);
                    }
                });
            });
    
            lazyImages.forEach(image => {
                lazyImageObserver.observe(image);
            });
        } else {
            // Для браузеров, не поддерживающих IntersectionObserver
            lazyImages.forEach(image => {
                image.src = image.dataset.src;
                image.classList.remove('lazy');
            });
        }
    
        // Модальное окно
        const modal = document.getElementById("imageModal");
        const modalImg = document.getElementById("modalImage");
        const closeBtn = document.querySelector(".gallery-modal-close");
        const modalPrev = document.querySelector(".gallery-modal-prev");
        const modalNext = document.querySelector(".gallery-modal-next");
    
        function showModalImage(index) {
            modalImg.src = slides[index].querySelector('img').src;
            modalImg.dataset.index = index;
        }
    
        slides.forEach((slide, index) => {
            slide.addEventListener('click', function() {
                modal.style.display = "flex";
                showModalImage(index);
            });
        });
    
        closeBtn.onclick = function() {
            modal.style.display = "none";
        }
    
        window.onclick = function(event) {
            if (event.target === modal) {
                modal.style.display = "none";
            }
        }
    
        modalPrev.onclick = function() {
            let index = parseInt(modalImg.dataset.index, 10);
            if (index > 0) {
                showModalImage(index - 1);
            }
        }
    
        modalNext.onclick = function() {
            let index = parseInt(modalImg.dataset.index, 10);
            if (index < slides.length - 1) {
                showModalImage(index + 1);
            }
        }
    
        // Обновление слайдера при изменении размера окна
        window.addEventListener('resize', function() {
            showSlide(currentIndex);
        });
    });
</script>
{% endblock %}