{% extends "base.html" %}
{% load static %}
{% load custom_tags %}
{% load floattags %}
{% block navbar %}
    {% include 'components/navbar.html' %}
{% endblock %}
{% block title %}Establishments{% endblock %}

{% block content %}
<!-- Main Container  -->
<div class="breadcrumbs {% if selected_city %}{{ selected_city.slug }}{% endif %}">
    <div class="container">
        <div class="title-breadcrumb">
            {{ title }}
        </div>
        <form class="search-form" action="{% url 'place_list' selected_city.slug %}" method="GET">
            <input type="text" name="search" placeholder="Поиск..." value="{{ request.GET.search }}">
            <button type="submit">Найти</button>
        </form>
    </div>
</div>
<div class="container mt-4">
    <div class="row">
        <aside class="col-md-3 sidebar">
            <div class="filter-box">
                <h3>Фильтры</h3>
                <form method="get" action="">
                    <div class="mb-3">
                        <label for="placeType">Тип заведения</label>
                        <select class="form-select" name="place_type" id="placeType">
                            <option value="">Все типы</option>
                            {% for place_type in place_types %}
                                <option value="{{ place_type.slug }}" {% if place_type.slug == selected_place_type %}selected{% endif %}>{{ place_type.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label>Кухня</label><br>
                        <div class="form-check">
                            {% for cuisine in cuisines %}
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="cuisine" value="{{ cuisine.slug }}" {% if cuisine.slug in selected_cuisines %}checked{% endif %}>
                                    {{ cuisine.name }}
                                </label><br>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="averageCheckRange" class="form-label">Средний чек, руб.</label>
                        <div class="input-group">
                            <input type="number" class="form-control" name="min_average_check" id="minAverageCheck" placeholder="Мин" value="{{ min_average_check }}">
                            <span class="input-group-text">-</span>
                            <input type="number" class="form-control" name="max_average_check" id="maxAverageCheck" placeholder="Макс" value="{{ max_average_check }}">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Особенности</label><br>
                        <div class="form-check">
                            {% for feature in features %}
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="feature" value="{{ feature.id }}" {% if feature.id|stringformat:"s" in selected_features %}checked{% endif %}>
                                    {{ feature.name }}
                                </label><br>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="button-submit">
                        <button type="submit" class="button">Найти <i class="fa fa-angle-right" aria-hidden="true"></i></button>
                    </div>
                </form>
            </div>
        </aside>
        <main class="col-md-9">
            <div class="row">
                <div class="col-12 d-flex justify-content-between align-items-center mb-3 info-sort-bar">
                    <div>
                        Показано {{ shown_places }} из {{ total_places }} объектов
                    </div>
                    <div>
                        <form method="get" id="sortForm" class="d-flex">
                            <select name="sort" id="sort" class="form-select" onchange="document.getElementById('sortForm').submit();">
                                <option value="name" {% if sort_by == 'name' %}selected{% endif %}>По имени</option>
                                <option value="rating" {% if sort_by == 'rating' %}selected{% endif %}>По рейтингу</option>
                                <option value="average_check" {% if sort_by == 'average_check' %}selected{% endif %}>По среднему чеку</option>
                            </select>
                            {% if request.GET.search %}
                                <input type="hidden" name="search" value="{{ request.GET.search }}">
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for place in places %}
                    <div class="product-layout col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="product-item-container item d-flex flex-column">
                            <div class="item-block so-quickview flex-grow-1 d-flex flex-column">
                                {% if place.features.exists %}
                                    <div class="feature">
                                        {% for feature in place.features.all %}
                                            <div class="feature-item">{{ feature.name }}</div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div class="favorite-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M20.84 4.27a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.4a5.5 5.5 0 0 0-7.78 0 6 6 0 0 0 0 8.49L12 21l8.84-7.84a6 6 0 0 0 0-8.49z"></path>
                                    </svg>
                                </div>
                                <div class="image">
                                    <a href="{% url 'place_detail' city_slug=selected_city.slug place_slug=place.slug %}" target="_self">
                                        {% if place.cover_image %}
                                            <img src="{{ place.cover_image.image.url }}" alt="{{ place.name }}" class="img-responsive img-hover-zoom">
                                        {% else %}
                                            <img src="{% static 'path_to_default_image.jpg' %}" alt="{{ place.name }}" class="img-responsive img-hover-zoom">
                                        {% endif %}
                                        <div class="name">
                                            <h3>{{ place.name }}</h3>
                                            <p>{{ place.type }}</p>
                                        </div>
                                        <div class="rating-box">
                                            <span class="rating-number">{{ place.rating|formatted_float }}</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="item-content d-flex flex-column justify-content-between flex-grow-1">
                                    <ul>
                                        <li>
                                            <i class="fa-solid fa-location-dot" data-toggle="tooltip" title="Адрес"></i> <!-- Иконка геопозиции -->
                                            {{ place.address }}
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-utensils" data-toggle="tooltip" title="Кухня"></i> <!-- Иконка кухни -->
                                            {% for cuisine in place.cuisines.all %}
                                                {{ cuisine.name }}{% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-coins" data-toggle="tooltip" title="Средний чек"></i> <!-- Иконка среднего чека -->
                                            {{ place.average_check }} ₽
                                        </li>
                                    </ul>
                                    <div class="mt-auto">
                                        <button type="button" class="reserve-button" data-place-id="{{ place.slug }}" data-place-name="{{ place.name }}">Забронировать столик</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </main>
    </div>
</div>

<!-- Модальное окно -->
<div class="modal fade" id="reservationModal" tabindex="-1" aria-labelledby="reservationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="reservationModalLabel">Бронирование столика</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Форма бронирования -->
                <form id="reservationForm">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_date" class="form-label">Дата бронирования</label>
                        {{ form.date }}
                    </div>
                    <div class="form-group">
                        <label for="id_time" class="form-label">Время бронирования</label>
                        {{ form.time }}
                    </div>
                    <div class="form-group">
                        <label for="id_guests" class="form-label">Количество гостей</label>
                        {{ form.guests }}
                    </div>
                    <div class="form-group">
                        <label for="id_first_name" class="form-label">Имя</label>
                        {{ form.first_name }}
                    </div>
                    <div class="form-group">
                        <label for="id_last_name" class="form-label">Фамилия</label>
                        {{ form.last_name }}
                    </div>
                    <div class="form-group">
                        <label for="id_phone" class="form-label">Телефон</label>
                        {{ form.phone }}
                    </div>
                    <div class="form-group">
                        <label for="id_email" class="form-label">Email</label>
                        {{ form.email }}
                    </div>
                    <div class="form-group">
                        <label for="id_wishes" class="form-label">Пожелания</label>
                        {{ form.wishes }}
                    </div>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const reserveButtons = document.querySelectorAll('.reserve-button');
        const modal = new bootstrap.Modal(document.getElementById('reservationModal')); // Bootstrap modal instance
    
        reserveButtons.forEach(button => {
            button.addEventListener('click', function() {
                const placeSlug = this.getAttribute('data-place-id');
                const actionUrl = "{% url 'reserve_table' city_slug=selected_city.slug place_slug='PLACE_SLUG' %}".replace('PLACE_SLUG', placeSlug);
                document.getElementById('reservationForm').action = actionUrl;
                modal.show(); // Show modal
            });
        });

        const reservationForm = document.getElementById('reservationForm');
        reservationForm.addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(this);

            fetch(this.action, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => {
                if (response.ok) {
                    // Optionally, you can close the modal after successful submission
                    modal.hide();
                    // Display success message (you need to implement this in your template)
                    alert('Заявка на бронирование успешно отправлена!');
                    // You can also redirect to the same page or refresh here
                    // window.location.reload();
                } else {
                    throw new Error('Ошибка при отправке формы');
                }
            })
            .catch(error => {
                console.error('Ошибка:', error);
                // Handle error cases here
                alert('Произошла ошибка при отправке формы');
            });
        });
    });
</script>
<script>
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Прочитаем имя cookie
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function toggleFavorite(element) {
    const laceId = element.getAttribute('data-place-id');
    const isFavorite = element.classList.contains('text-danger');

    const url = '/toggle_favorite/';
    const csrftoken = getCookie('csrftoken');

    fetch(url, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken
        },
        body: JSON.stringify({
            lace_id: laceId,
            is_favorite: !isFavorite
        })
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            // Обновляем внешний вид кнопки (если требуется)
            if (isFavorite) {
                element.classList.remove('text-danger');
            } else {
                element.classList.add('text-danger');
            }
        } else {
            console.error('Произошла ошибка при добавлении в избранное.');
        }
    })
    .catch(error => {
        console.error('Ошибка:', error);
    });
}
</script>
{% endblock %}