<div id="reservationModal" class="reservation-modal" style="display: {% if reservation_successful %} block {% else %} none {% endif %};">
    <div class="reservation-modal-content">
        <span class="reservation-modal-close">&times;</span>
        {% if reservation_data %}
            <div class="reservation-modal-header">Здравствуйте, {{ reservation_data.name }}!</div>
            <div class="reservation-modal-body">
                <p>Мы получили ваш резерв на</p>
                <p><strong>{{ reservation_message }}</strong></p>
                <p>Ожидайте подтверждения по телефону <strong>{{ reservation_data.phone }}</strong>.</p>
            </div>
        {% endif %}
    </div>
</div>