{% extends 'dashboard/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% load static %}

{% block navbar %}
    {% include 'dashboard/components/navbar.html' %}
{% endblock %}

{% block sidebar %}
    {% include 'dashboard/components/sidebar.html' %}
{% endblock %}

{% block footer %}
    {% include 'dashboard/components/footer.html' %}
{% endblock %}

{% block content %}
<div class="container-fluid p-0">
    <h1 class="h3 mb-3">Заявки на резерв столов</h1>
    <!-- Карточка с таблицей бронирований -->
    {% for reservation in reservations %}
    <div class="card mb-4 shadow-lg">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width: 5%;">№</th>
                            <th style="width: 15%;">Заведение</th>
                            <th style="width: 15%;">Дата</th>
                            <th style="width: 7%;">Время</th>
                            <th style="width: 17%;">Зона</th>
                            <th style="width: 17%;">Стол</th>
                            <th style="width: 12%;">Статус</th>
                            <th style="width: 12%;">Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border-bottom"> <!-- Добавление границы снизу -->
                            <td>{{ reservation.number }}</td>
                            <td>{{ reservation.place.name }}</td>
                            <td>{{ reservation.date }}</td>
                            <td>{{ reservation.time }}</td>
                            <td>{{ reservation.table.hall.name }}</td>
                            <td>{{ reservation.table|default:"Любой" }}</td>
                            <td>
                                {% if reservation.status == "confirmed" %}
                                    <span class="badge bg-success">{{ reservation.get_status_display }}</span>
                                {% elif reservation.status == "pending" %}
                                    <span class="badge bg-warning">{{ reservation.get_status_display }}</span>
                                {% elif reservation.status == "cancelled_by_restaurant" or reservation.status == "cancelled_by_customer" %}
                                    <span class="badge bg-danger">{{ reservation.get_status_display }}</span>
                                {% endif %}
                            </td>
                            <td>
                                <!-- Проверяем статус бронирования и изменяем действия -->
                                {% if reservation.status == "confirmed" %}
                                    <button class="btn btn-sm btn-secondary w-100 mb-1" disabled>Подтверждено</button>
                                {% elif reservation.status == "cancelled_by_restaurant" or reservation.status == "cancelled_by_customer" %}
                                    <button class="btn btn-sm btn-secondary w-100 mb-1" disabled>Отклонено</button>
                                {% else %}
                                    <a href="{% url 'dashboard:reservation_accept' reservation.id %}" class="btn btn-sm btn-success w-100 mb-1">Принять</a>
                                    <a href="{% url 'dashboard:reservation_reject' reservation.id %}" class="btn btn-sm btn-danger w-100 mb-1">Отклонить</a>
                                {% endif %}
                            </td>
                        </tr>
                        <tr class="border-bottom mb-4 pb-2"> <!-- Добавление отступов -->
                            <td></td>
                            <td colspan="2">
                                <strong>Имя:</strong> {{ reservation.customer_name }}
                            </td>
                            <td colspan="4">
                                <strong>Телефон:</strong> {{ reservation.customer_phone }}
                            </td>
                            <td>
                                <a href="{% url 'dashboard:reservation_detail' reservation.id %}" class="btn btn-sm btn-outline-secondary w-100">Подробнее</a>
                            </td>
                        </tr>
                    </tbody>                    
                </table>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="alert alert-info">Нет бронирований</div>
    {% endfor %}
</div>
{% endblock %}