{% extends 'dashboard/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% load static %}
{% load custom_filters %}

{% block navbar %}
    {% include 'dashboard/components/navbar.html' %}
{% endblock %}

{% block sidebar %}
    {% include 'dashboard/components/sidebar.html' %}
{% endblock %}

{% block footer %}
    {% include 'dashboard/components/footer.html' %}
{% endblock %}
{% block content %}
<div class="container-fluid p-4">
    <a class="btn btn-secondary" href="{% url 'dashboard:city_list' %}">Cancel</a>
    <h2>{% if form.instance.pk %}Редактировать город{% else %}Добавить город{% endif %}</h2>
    <div class="card">
        <div class="card-body">
            <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}