{% extends 'dashboard/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% load static %}
{% load custom_filters %}

{% block navbar %}
    {% include 'dashboard/components/navbar.html' %}
{% endblock %}

{% block sidebar %}
    {% include 'dashboard/components/sidebar.html' %}
{% endblock %}

{% block footer %}
    {% include 'dashboard/components/footer.html' %}
{% endblock %}


{% block content %}
<div class="container-fluid p-0">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mb-0">{% if place %}{{ place.name }}{% else %}Добавление нового заведения{% endif %}</h2>

    {% if user.is_admin and place %}
      <form method="POST" action="{% url 'dashboard:toggle_verified' place.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-{{ place.is_active|yesno:'success,danger' }}">
          {% if place.is_verified %}
            На проверку
          {% else %}
            Проверено
          {% endif %}
        </button>
      </form>
    {% endif %}
  </div>
  <hr class="hr hr-blurry" />
  {% if place and not place.is_active %}
    <div class="alert alert-primary d-flex align-items-center" role="alert">
        <i class="bi bi-info-circle me-2" style="font-size: 1rem;"></i>
        <div>
            Заведение находится на модерации и будет опубликовано после её завершения.
        </div>
    </div>
    {% endif %}
      <form id="placeForm" method="post" enctype="multipart/form-data" class="form-horizontal needs-validation" novalidate>
        {% csrf_token %}
        
        <!-- Общие ошибки формы -->
        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.non_field_errors|join:" " }}
            </div>
        {% endif %}
        <div class="card mb-3">
            <div class="card-body">
                {% if place %}
                <!-- Ссылка на страницу -->
                <div class="row mb-3">
                    <div class="col">
                        Ссылка на страницу: 
                        <a href="{{ absolute_url }}" target="_blank">{{ absolute_url }}</a>
                    </div>
                </div>
                {% endif %}
                <!-- Основная информация -->
                <div class="row mb-3 mt-3">
                    <div class="col-xl-2">
                        {{ form.type.label_tag }}
                        {{ form.type }}
                        {% if form.type.errors %}
                            <div class="text-danger mt-1">
                                {{ form.type.errors|join:" " }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-xl-4">
                        {{ form.name.label_tag }}
                        {{ form.name }}
                        {% if form.name.errors %}
                            <div class="text-danger mt-1">
                                {{ form.name.errors|join:" " }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-xl-3">
                        {{ form.city.label_tag }}
                        {{ form.city }}
                        {% if form.city.errors %}
                            <div class="text-danger mt-1">
                                {{ form.city.errors|join:" " }}
                            </div>
                        {% endif %}
                    </div>
                    {% if not place.pk %}
                        <div class="col-xl-3">
                            {{ form.representative_email.label_tag }}
                            {{ form.representative_email }}
                            {% if form.representative_email.errors %}
                                <div class="text-danger mt-1">
                                    {{ form.representative_email.errors|join:" " }}
                                </div>
                            {% endif %}
                            <small class="form-text text-muted">{{ form.representative_email.help_text }}</small>
                        </div>
                    {% endif %}
                    <div class="col-xl-3">
                        {% if user.is_admin %}
                            {{ form.manager.label_tag }}
                            {{ form.manager }}
                            {% if form.manager.errors %}
                                <div class="text-danger mt-1">
                                    {{ form.manager.errors|join:" " }}
                                </div>
                            {% endif %}
                            <small class="form-text text-muted">{{ form.manager.help_text }}</small>
                        {% else %}
                            <input type="hidden" name="manager" value="{{ form.instance.manager.id|default:'' }}">
                        {% endif %}
                    </div>
                    {% if user.is_admin and place %}
                        <div class="row mb-3">
                            <div class="col-xl-2">
                                {{ form.is_active.label_tag }}
                                {{ form.is_active }}
                                {% if form.is_active.errors %}
                                    <div class="text-danger mt-1">
                                        {{ form.is_active.errors|join:" " }}
                                    </div>
                                {% endif %}
                                <small class="form-text text-muted">{{ form.is_active.help_text }}</small>
                            </div>
                            <div class="col-xl-2">
                                {{ form.is_featured.label_tag }}
                                {{ form.is_featured }}
                                {% if form.is_featured.errors %}
                                    <div class="text-danger mt-1">
                                        {{ form.is_featured.errors|join:" " }}
                                    </div>
                                {% endif %}
                                <small class="form-text text-muted">{{ form.is_featured.help_text }}</small>
                            </div>
                        </div>
                    {% else %}
                        <input type="hidden" name="is_active" value="{{ form.instance.is_active|default:'' }}">
                        <input type="hidden" name="is_popular" value="{{ form.instance.is_popular|default:'' }}">
                        <input type="hidden" name="is_featured" value="{{ form.instance.is_featured|default:'' }}">
                    {% endif %}
                </div>
            </div>
        </div>

        <h3 class="mt-5 mb-3">Контакты</h3>
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-2">
                        {{ form.street_type.label_tag }}
                        {{ form.street_type }}
                        {% if form.street_type.errors %}
                            <div class="text-danger mt-1">
                                {{ form.street_type.errors|join:" " }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-xl-3">
                        {{ form.street_name.label_tag }}
                        {{ form.street_name }}
                        {% if form.street_name.errors %}
                            <div class="text-danger mt-1">
                                {{ form.street_name.errors|join:" " }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-xl-2">
                        {{ form.house_number.label_tag }}
                        {{ form.house_number }}
                        {% if form.house_number.errors %}
                            <div class="text-danger mt-1">
                                {{ form.house_number.errors|join:" " }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-xl-2">
                        {{ form.floor.label_tag }}
                        {{ form.floor }}
                        {% if form.floor.errors %}
                            <div class="text-danger mt-1">
                                {{ form.floor.errors|join:" " }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-xl-3">
                        {{ form.phone.label_tag }}
                        {{ form.phone }}
                        {% if form.phone.errors %}
                            <div class="text-danger mt-1">
                                {{ form.phone.errors|join:" " }}
                            </div>
                        {% endif %}
                        <small class="form-text text-muted">{{ form.phone.help_text }}</small>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-xl-3">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                        {% if form.email.errors %}
                        <div class="text-danger mt-1">
                            {{ form.email.errors|join:" " }}
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-xl-3">
                        {{ form.telegram.label_tag }}
                        {{ form.telegram }}
                        {% if form.telegram.errors %}
                        <div class="text-danger mt-1">
                                {{ form.telegram.errors|join:" " }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-xl-3">
                        {{ form.whatsapp.label_tag }}
                        {{ form.whatsapp }}
                        {% if form.whatsapp.errors %}
                        <div class="text-danger mt-1">
                                {{ form.whatsapp.errors|join:" " }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-xl-3">
                        {{ form.website.label_tag }}
                        {{ form.website }}
                        {% if form.website.errors %}
                            <div class="text-danger mt-1">
                                {{ form.website.errors|join:" " }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-xl-3">
                        {{ form.vkontakte.label_tag }}
                        {{ form.vkontakte }}
                        {% if form.vkontakte.errors %}
                        <div class="text-danger mt-1">
                                {{ form.vkontakte.errors|join:" " }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-xl-3">
                        {{ form.odnoklassniki.label_tag }}
                        {{ form.odnoklassniki }}
                        {% if form.odnoklassniki.errors %}
                        <div class="text-danger mt-1">
                            {{ form.odnoklassniki.errors|join:" " }}
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-xl-3">
                        {{ form.instagram.label_tag }}
                        {{ form.instagram }}
                        {% if form.instagram.errors %}
                        <div class="text-danger mt-1">
                                {{ form.instagram.errors|join:" " }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-xl-3">
                        {{ form.facebook.label_tag }}
                        {{ form.facebook }}
                        {% if form.facebook.errors %}
                        <div class="text-danger mt-1">
                                {{ form.facebook.errors|join:" " }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <h3 class="mt-5 mb-3">Описание</h3>
        <div class="card mb-3">
            <div class="card-body">
                <div class="col-md-12">
                    {{ form.description.label_tag }}
                    {{ form.description }}
                    {% if form.description.errors %}
                        <div class="text-danger mt-1">
                            {{ form.description.errors|join:" " }}
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-12">
                    {{ form.short_description.label_tag }}
                    {{ form.short_description }}
                    {% if form.short_description.errors %}
                        <div class="text-danger mt-1">
                            {{ form.short_description.errors|join:" " }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <h3 class="mt-5 mb-3">Оплата</h3>
        <div class="card mb-3">
            <div class="card-body">
                <div class="col-xl-3">
                    {{ form.average_check.label_tag }}
                    {{ form.average_check }}
                    {% if form.average_check.errors %}
                        <div class="text-danger mt-1">
                            {{ form.average_check.errors|join:" " }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <h3 class="mt-5">Особенности</h3>
        <small class="form-text text-muted mb-3">{{ form.features.help_text }}</small>
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    {% for option in form.features.field.choices %}
                        <div class="col-md-4">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" name="{{ form.features.name }}" value="{{ option.0 }}" {% if option.0 in form.features.value %}checked{% endif %}>
                                    {{ option.1 }}
                                </label>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <h3 class="mt-5">Кухня</h3>
        <small class="form-text text-muted mb-3">{{ form.cuisines.help_text }}</small>
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    {% for option in form.cuisines.field.choices %}
                        <div class="col-md-4">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" name="{{ form.cuisines.name }}" value="{{ option.0 }}" {% if option.0 in form.cuisines.value %}checked{% endif %}>
                                    {{ option.1 }}
                                </label>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if place %}
        <h3 class="mt-5 mb-3">Настройки системы бронирования</h3>
        <div class="card mb-3">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-xl-6">
                        {{ booking_form.accepts_bookings.label_tag }}
                        {{ booking_form.accepts_bookings }}
                        {% if booking_form.accepts_bookings.errors %}
                            <div class="text-danger mt-1">
                                {{ booking_form.accepts_bookings.errors|join:" " }}
                            </div>
                        {% endif %}
                        <small class="form-text text-muted">{{ booking_form.accepts_bookings.help_text }}</small>
                    </div>
                    <div class="col-xl-6">
                        {{ booking_form.allow_table_selection.label_tag }}
                        {{ booking_form.allow_table_selection }}
                        {% if booking_form.allow_table_selection.errors %}
                            <div class="text-danger mt-1">
                                {{ booking_form.allow_table_selection.errors|join:" " }}
                            </div>
                        {% endif %}
                        <small class="form-text text-muted">{{ booking_form.allow_table_selection.help_text }}</small>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-xl-6">
                        {{ booking_form.booking_interval.label_tag }}
                        {{ booking_form.booking_interval }}
                        {% if booking_form.booking_interval.errors %}
                            <div class="text-danger mt-1">
                                {{ booking_form.booking_interval.errors|join:" " }}
                            </div>
                        {% endif %}
                        <small class="form-text text-muted">{{ booking_form.booking_interval.help_text }}</small>
                    </div>
                    <div class="col-xl-6">
                        {{ booking_form.default_guest_count.label_tag }}
                        {{ booking_form.default_guest_count }}
                        {% if booking_form.default_guest_count.errors %}
                            <div class="text-danger mt-1">
                                {{ booking_form.default_guest_count.errors|join:" " }}
                            </div>
                        {% endif %}
                        <small class="form-text text-muted">{{ booking_form.default_guest_count.help_text }}</small>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-xl-6">
                        {{ booking_form.notification_email.label_tag }}
                        {{ booking_form.notification_email }}
                        {% if booking_form.notification_email.errors %}
                            <div class="text-danger mt-1">
                                {{ booking_form.notification_email.errors|join:" " }}
                            </div>
                        {% endif %}
                        <small class="form-text text-muted">{{ booking_form.notification_email.help_text }}</small>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="mt-5 mb-3">Зоны</h3>
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 text-start">
                        <a href="{% url 'dashboard:hall_create' place_id=place.id %}" class="btn btn-sm btn-success mb-3">Добавить зону</a>
                    </div>
                    {% if place.halls.all %}
                        <div class="table-responsive">
                            <table class="table table-bordered mt-3">
                                <thead>
                                    <tr>
                                        <th>Название</th>
                                        <th>Вид</th>
                                        <th>Тип</th>
                                        <th>Количество мест</th>
                                        <th>Площадь (м²)</th>
                                        <th>Описание</th>
                                        <th>Действия</th> <!-- Actions column -->
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for hall in halls %}
                                    <tr>
                                        <td>{{ hall.name }}</td>
                                        <td>{{ hall.get_kind_display }}</td>
                                        <td>{{ hall.get_hall_type_display }}</td>
                                        <td>{{ hall.number_of_seats|default_if_none:"" }}</td>
                                        <td>{{ hall.area|default_if_none:"" }}</td>
                                        <td>{{ hall.description|default_if_none:"" }}</td>
                                        <td>
                                            <a href="{% url 'dashboard:hall_edit' place.id hall.pk %}" class="btn btn-sm btn-primary">Редактировать</a>
                                            <a href="{% url 'dashboard:hall_delete' place.id hall.pk %}" class="btn btn-sm btn-danger">Удалить</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <p class="text-center">В этом заведении нет доступных зон.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <h3 class="mt-5 mb-3">Столики</h3>
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 text-start">
                        <a href="{% url 'dashboard:table_create' place_id=place.id %}" class="btn btn-sm btn-success mb-3">Добавить столик</a>
                    </div>
                    {% if place.halls.all %}
                        <div class="table-responsive">
                            <table class="table table-bordered mt-3">
                                <thead>
                                    <tr>
                                        <th>Зал</th>
                                        <th>Название столика</th>
                                        <th>Мест</th>
                                        <th>Фото</th>
                                        <th>Количество</th>
                                        <th>Действия</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for hall in place.halls.all %}
                                        {% for table in hall.tables.all %}
                                            <tr>
                                                <td>{{ hall.name }}</td>
                                                <td>{{ table.name }}</td>
                                                <td>{{ table.seats }}</td>
                                                <td>
                                                    {% if table.photo %}
                                                        <img src="{{ table.photo.url }}" alt="Фото столика" style="width: 100px; height: auto;">
                                                    {% else %}
                                                        Нет фото
                                                    {% endif %}
                                                </td>
                                                <td>{{ table.quantity }}</td>
                                                <td>
                                                    <a href="{% url 'dashboard:table_edit' place_id=place.id pk=table.id %}" class="btn btn-sm btn-primary">Редактировать</a>
                                                    <a href="{% url 'dashboard:table_delete' place_id=place.id pk=table.id %}" class="btn btn-sm btn-danger">Удалить</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <p class="text-center">В этом заведении нет доступных столиков.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <h3 class="mt-5 mb-3">График работы</h3>
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    {% for schedule in place.work_schedule.all %}
                        <div class="col-xl-2">
                            <label>{{ schedule.get_day_display }}</label>
                            <input type="time" name="open_time_{{ schedule.day }}" value="{{ schedule.open_time|time:'H:i' }}" class="form-control">
                            <input type="time" name="close_time_{{ schedule.day }}" value="{{ schedule.close_time|time:'H:i' }}" class="form-control">
                            <input type="checkbox" name="is_closed_{{ schedule.day }}" value="1" {% if schedule.is_closed %}checked{% endif %}> Выходной
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <h3 class="mt-5 mb-3">Изображения</h3>
        <div class="card mb-3">
            <div class="card-body">
                {% if not has_images %}
                <div class="alert alert-info text-center" role="alert">
                    <h5>Ваше заведение нуждается в красивых изображениях!</h5>
                    <p>Загрузите фотографии, чтобы посетители могли оценить атмосферу и сделать правильный выбор.</p>
                    <a href="{% url 'dashboard:placeimage_add' place_id=place.id %}" class="btn btn-primary mt-3">Добавить изображение</a>
                </div>
                {% else %}
                    <div class="row">
                        {% for media in media_list %}
                        <div class="col-md-3 d-flex flex-column align-items-center">
                            <div class="image-container position-relative">
                                {% if media.embed_code %}
                                    {{ media.get_media_display|safe }}
                                {% elif media.video_url %}
                                    <iframe width="240" height="160" src="{{ media.video_url }}" frameborder="0" allowfullscreen></iframe>
                                {% elif media.image %}
                                    <img src="{{ media.image.url }}" alt="{{ media }}" class="img-thumbnail image-fit">
                                {% else %}
                                    <img src="{% static 'images/default_image.jpg' %}" alt="No Media Available" class="img-thumbnail image-fit">
                                {% endif %}
        
                                {% if media.is_cover %}
                                    <!-- Значок обложки -->
                                    <div class="cover-badge">Обложка</div>
                                {% else %}
                                    <!-- Кнопка для установки как обложку -->
                                    <a href="{% url 'dashboard:placeimage_set_cover' pk=media.pk %}" class="make-cover-badge">
                                        Сделать обложкой
                                    </a>
                                {% endif %}
                                <!-- Кнопка удаления изображения -->
                                <a href="javascript:void(0);" class="btn-delete position-absolute top-0 end-0" style="margin: 5px;" onclick="deleteImage({{ media.pk }})">
                                    <i class="bi bi-x text-white" style="font-size: 1.5rem;"></i>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <a href="{% url 'dashboard:placeimage_add' place_id=place.id %}" class="btn btn-primary mb-3">Добавить изображение</a>
                {% endif %}
            </div>
        </div>        
        {% endif %}
        <button type="submit" class="btn btn-primary mt-3" id="saveButton">Отправить</button>
      </form>
    </div>
  </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var formElements = document.getElementById('placeForm').elements;
        var hasErrors = {{ form.errors|yesno:"true,false" }};
        
        // Добавляем красную обводку полям с ошибками
        if (hasErrors) {
            for (var i = 0; i < formElements.length; i++) {
                var field = formElements[i];
                if (field.closest('.form-group') && field.closest('.form-group').querySelector('.text-danger')) {
                    field.classList.add('is-invalid');
                    formElements[i].disabled = false;  // Оставляем редактируемыми поля с ошибками
                }
            }
        }
    });
</script>
<script>
    function deleteImage(mediaId) {
        if (confirm("Вы уверены, что хотите удалить это изображение?")) {
            fetch(`/dashboard/places/images/${mediaId}/delete/`, {
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}', // Добавляем CSRF-токен
                    'Content-Type': 'application/json' // Указываем, что отправляем JSON
                },
            })
            .then(response => {
                if (response.ok) {
                    // Перезагружаем страницу после успешного удаления
                    location.reload();
                } else {
                    alert("Ошибка при удалении изображения.");
                }
            })
            .catch(error => {
                console.error("Ошибка:", error);
            });
        }
    }
</script>
{% endblock %}

