{% extends "base.html" %}
{% load static %}

{% block navbar %}
    {% include 'components/navbar.html' %}
{% endblock %}
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <h2>Редактировать профиль</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Сохранить изменения</button>
  </form>
  <a href="{% url 'users:profile' profile.user.id %}">Назад к профилю</a>
{% endblock %}