{% extends "base.html" %}
{% load static %}
{% load floattags %}
{% load custom_filters %}

{% block navbar %}
    {% include 'components/navbar.html' %}
{% endblock %}
{% block footer %}
    {% include 'components/footer.html' %}
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container pt-5 mb-5">
    <!-- Профиль пользователя -->
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <!-- Аватар пользователя -->
                <img src="{{ profile_user.profile.get_avatar_url }}" class="card-img-top" alt="{% if profile_user.profile.name %}{{ profile_user.profile.name }}{% else %}{{ profile_user.username }}{% endif %}">
                <div class="card-body text-center">
                    <h5 class="card-title">
                        {{ profile_user.profile }}
                    </h5>
                    <!-- Email пользователя -->
                    <p class="card-text">{{ profile_user.email }}</p>
                    <!-- Статус активности пользователя (онлайн/оффлайн) -->
                    <p class="card-text text-muted">{{ last_seen_message }}</p>
                    
                    <!-- Кнопка редактирования профиля только для владельца -->
                    {% if is_owner %}
                        <a href="{% url 'users:profile-edit' %}" class="btn btn-primary">Редактировать профиль</a>

                        <!-- Кнопка для подтверждения email, если он не подтверждён -->
                        {% if not email_verified %}
                            <p class="text-warning">Ваш email не подтверждён.</p>
                            <a href="{% url 'account_email_verification_sent' %}" class="btn btn-warning">Подтвердить email</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        
        <div class="col-md-8">
            <ul class="nav nav-tabs" id="profileTabs" role="tablist">
                <!-- Отзывы всегда видимы -->
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="reviews-tab" data-bs-toggle="tab" data-bs-target="#reviews" type="button" role="tab" aria-controls="reviews" aria-selected="true">Отзывы</button>
                </li>

                <!-- Избранное и бронирования только для владельца профиля -->
                {% if is_owner %}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="reservations-tab" data-bs-toggle="tab" data-bs-target="#reservations" type="button" role="tab" aria-controls="reservations" aria-selected="false">Заказы</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="favorites-tab" data-bs-toggle="tab" data-bs-target="#favorites" type="button" role="tab" aria-controls="favorites" aria-selected="false">Избранное</button>
                    </li>
                {% endif %}
            </ul>
            <div class="tab-content" id="profileTabsContent">
                <!-- Список отзывов -->
                <div class="tab-pane fade show active" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                    <div class="mt-3">
                        {% for review in reviews %}
                            <div class="review-item mb-3 d-flex justify-content-between">
                                <div>
                                    <h5 class="mb-1">Отзыв о {{ review.place_type_phrase }} <a href="{{ review.place.get_absolute_url }}">"{{ review.place.name }}"</a></h5>
                                    <small class="text-muted">Добавлен: {{ review.created_at|date:"j E Y г." }}</small>
                                    <div class="review-text">
                                        {{ review.text }}
                                    </div>
                                </div>
                                <div class="rating-stars">
                                    {% for i in "12345" %}
                                    {% if i <= review.rating|stringformat:"d" %}
                                    <svg class="star-icon filled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" fill="currentColor">
                                        <path d="M12 17.27l6.18 3.73-1.64-7.03 5.46-4.73-7.1-.61L12 2 9.1 8.63l-7.1.61 5.46 4.73-1.64 7.03z"/>
                                    </svg>
                                    {% else %}
                                    <svg class="star-icon empty" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" fill="none" stroke="currentColor">
                                        <path d="M12 17.27l6.18 3.73-1.64-7.03 5.46-4.73-7.1-.61L12 2 9.1 8.63l-7.1.61 5.46 4.73-1.64 7.03z"/>
                                    </svg>
                                    {% endif %}
                                    {% endfor %}
                                </div>                     
                            </div>
                        {% empty %}
                            <p class="mt-3">Нет отзывов.</p>
                        {% endfor %}
                    </div>
                </div>

                <!-- Список заказов только для владельца -->
                {% if is_owner %}
                    <div class="tab-pane fade" id="reservations" role="tabpanel" aria-labelledby="reservations-tab">
                        <div class="list-group mt-3">
                            {% for reservation in profile_user.reservations.all %}
                                <a href="{{ reservation.get_absolute_url }}" class="list-group-item list-group-item-action">
                                    <h5 class="mb-1">{{ reservation.place.name }}</h5>
                                    <p class="mb-1">{{ reservation.date }} в {{ reservation.time }}</p>
                                    <small>{{ reservation.get_status_display }}</small>
                                </a>
                            {% empty %}
                                <p class="mt-3">Нет активных заказов.</p>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Список избранного -->
                    <div class="tab-pane fade" id="favorites" role="tabpanel" aria-labelledby="favorites-tab">
                        <div class="favorites-list mt-3">
                            {% for favorite in profile_user.favorites.all %}
                                <div class="favorite-item mb-3">
                                    <div class="favorite-image">
                                        <img src="{{ favorite.place.get_cover_image }}" alt="{{ favorite.place.name }}" class="img-fluid" />
                                    </div>
                                    <div class="favorite-info">
                                        <h5 class="place-name">
                                            <a href="{{ favorite.place.get_absolute_url }}">{{ favorite.place.name }}</a>
                                        </h5>
                                        <p class="place-description">{{ favorite.place.short_description }}</p>
                                        <p class="place-address">{{ favorite.place.address }}</p>
                                        <p class="place-average-check">Средний чек: {{ favorite.place.average_check }} руб.</p>
                                        <p class="place-cuisines">Кухни: {{ favorite.place.cuisines.all|join:", " }}</p>
                                    </div>
                                    {% if favorite.place.rating > 1 %}
                                        <div class="place-rating {{ favorite.place.rating|rating_color }} address-rating">
                                            {{ favorite.place.rating|formatted_float }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% empty %}
                                <p class="mt-3">Нет избранных заведений.</p>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}