{% extends 'base.html' %}
{% block title %}Профиль пользователя{% endblock %}

{% block content %}
<div class="container">
    <h1>Профиль пользователя</h1>

    <h2>Избранные заведения</h2>

    <div class="row">
        {% for favorite in favorite_places %}
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ favorite.place.name }}</h5>
                    <p class="card-text">{{ favorite.place.description }}</p>
                    <a href="{% url 'place_detail' city_slug=favorite.place.city.slug place_slug=favorite.place.slug %}" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>У вас пока нет избранных заведений.</p>
        {% endfor %}
    </div>

</div>
{% endblock %}